{% extends './base.html' %}
{% load static %}
{% block title %} Grupos {% endblock %}
{% block content %}
    <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header" style="">
            <h5>Grupos recentes
                <a href="{% url 'enter-room' %}" style="decorators:none">
                    <span style="float:right">></span>
                </a>
                | |
                <a href="{% url 'create-room' %}" style="decorators:none">
                    <span style="float:right">+</span>
                </a>
                
            </h5>
            
        </div>
        <div class="card-body contacts_body">
            <ui class="contacts">
                {% for g in groups %}
                    <li class="active">
                        <a href="{% url 'room' g.group.pk %}">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src={{g.group.image.url}} class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span>{{g.group}}</span>
                                    <p>{{g.group.messages.first.user}}: {{g.group.messages.last}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ui>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}
