{% extends './base.html' %}
{% load static %}
{% block title %} Grupos {% endblock %}
{% block content %}
    <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header" style="">
            <h5>Grupos recentes</h5>
            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
            <div class="action_menu">
                <ul>
                    <a href="{% url 'user-update' %}"><li><i class="fas fa-user-circle"></i>Perfil</li></a>
                    <a href="{% url 'create-room' %}"><li><i class="fas fa-plus"></i> Criar grupo </li></a>
                    <a href="{% url 'enter-room' %}"><li><i class="fas fa-users"></i> Entrar em um grupo </li></a>
                    <a href="/accounts/social/logout"><li><i class="fas fa-ban"></i> Sair </li></a>
                </ul>
            </div>
            
        </div>
        <div class="card-body contacts_body">
            <ui class="contacts">
                {% for g in groups %}
                    <li class="active">
                        <a href="{% url 'room' g.group.pk %}">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src={{g.group.image.url}} class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span>{{g.group}}</span>
                                    <p>{{g.group.messages.last.user.first_name}}: {{g.group.messages.last}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ui>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}
{% block script %}
	<script>
        $(document).ready(function(){
            $('#action_menu_btn').click(function(){
                $('.action_menu').toggle();
            });
        });
    </script>
{% endblock %}