{% extends '../chat/base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Autenticação{% endblock %} 
{% block content %}
    <div class="col-md-4 chat"><div class="card mb-sm-3 mb-md-0">
        <div class="card-header" style="">
            <div class="text-center mb-4">
                <h2 class='h3 mb-3 font-weight-normal'>Login</h2>
            </div>
        </div>
        <div class="card-body">
            <form class='form-signin' action="." method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">Usuario ou senha incorretos.</div>
                {% endif %}
                <div class="form-group form-label-group">
                    <input class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" type="text" aria-label="Usuário" placeholder="Usuário">
                    <label for="id_username">Usuário</label>
                </div>

                <div class="form-group form-label-group">
                    <input class="form-control ls-login-bg-password input-lg" id="id_password" type="password" name="password" aria-label="Senha" placeholder="Senha" autocomplete="current-password" required="">
                    <label for="id_password">Senha</label>
                </div>
                <input type="submit" value="Entrar" class="btn btn-primary btn-lg btn-block">
            </form>
            <br/>
            <div style="text-align: center;">
            ou
            </div>
            <a href="{% provider_login_url 'google' %}">
                <span>
                    <br/>
                    <img style='display: block;margin-left: auto;margin-right: auto;' src="https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png"/>
                </span>
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock content %}